body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app--navbar{
  display:flex;
  background-color: rgb(7, 21, 148); 
  padding: 30px 10px 10px 30px;
}
.app--name{
  color: white;
  font-size: 26px;
  margin-left: 10px;
}
.team--names{
  position: fixed;
  right:0;
  padding-right: 15px;
  color: white;
}
.app--logo{
  width:100px;
}
body{
  background-color: rgb(160, 212, 216);
}